<div class="container justify-content-center text-center footer">
    <p class="text-capitalize">designed by hossein mousavi</p>
    <a routerLink="/lists"><button class="btn btn-success" > Submit </button></a>
    <button mat-button>Click me!</button>
    <div class="example-button-row">
        <button mat-button>Basic</button>
        <button mat-button color="primary">Primary</button>
        <button mat-button color="accent">Accent</button>
        <button mat-button color="warn">Warn</button>
        <button mat-button disabled>Disabled</button>
        <a mat-button routerLink=".">Link</a>
    </div>
</div>