<div class="container task justify-content-center mt-3 pt-3 list-group-item">
    <div class="task-name d-flex justify-content-around">
        <!-- task name -->
        <mat-form-field class="col-4"><input matInput placeholder="Task" #taskName required></mat-form-field>
        <!-- list name -->
        <mat-form-field class="col-5">
            <mat-label>List</mat-label>
            <mat-select [(value)]="selected" (selectionChange)="idFinder($event.value)">
                <mat-option *ngFor="let list of lists" [value]="list.title">{{ list.title }}</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- datePicker -->
        <mat-form-field class=" col-2 ">
            <input matInput [matDatepicker]="picker" placeholder="Date" #taskDate>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
        </mat-form-field>
    </div>
    <!-- description -->
    <div class="task-desc col-12 ">
        <mat-form-field class="col-12 ">
            <textarea matInput placeholder="Task Description" class="descHeight" #taskDesc></textarea>
        </mat-form-field>
    </div>
    <div class="task-status container justify-content-center d-flex text-center pt-2 pb-2 ">
        <button class="col-4 mb-2 " mat-raised-button (click)="createTask(taskName, taskDate, taskDesc) ">Create</button>
    </div>
</div>