<!--Navbar-->
<div class="list-name container pl-0 pr-0">
    <mdb-navbar class="pr-0 pl-0" SideClass="container navbar navbar-1 navbar-light amber lighten-2 col-12" [containerInside]="false">
        <mdb-navbar-brand><a class="navbar-brand" routerLink="/">To-Do Application</a></mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link waves-dark" routerLink="/" mdbWavesEffect>Main List<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-dark" routerLink="/lists" mdbWavesEffect>Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-dark" routerLink="/lists" mdbWavesEffect>Done Tasks</a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
</div>