<div class="list-name container justify-content-center d-flex text-center pt-2 pb-2">
    <div class="left-side-list-name col-6 text-center">
        <!-- <span class="text-uppercase align-content-center">main list</span> -->
        <button mat-raised-button>Create A New Task</button>
    </div>
    <div class="right-side-list-name d-flex justify-content-center col-6 text-center">
        <a routerLink="/lists">
            <button mat-raised-button>Show Lists</button>
        </a>
    </div>

</div>