<div class="toolbar">
    <div class="container col-12 d-flex justify-content-center pt-5">
        <h1 class="text-uppercase">to-do list application</h1>
    </div>
</div>

<div class="footer">
    <div class="container col-12 mb-5">
        <span class="text-uppercase d-flex justify-content-center">created by hossein</span>
        <fa-icon [icon]="faCoffee"></fa-icon>
        <a href="http://somewhere.com" target="_blank" class="d-flex justify-content-center" rel="noopener noreferrer">Click for source code</a>
    </div>
</div>






<!-- TODO: the bellow is the mat-slider Check this out later -->
<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->