<div class="flex flex-col mt-5">
    <header class="flex justify-around items-center border-b-2 pb-5">
        <span class="text-2xl">Completed Tasks</span>
    </header>

    <div class="mt-2 flex flex-col items-baseline">
        <div *ngFor="let task of completedTasks" class="flex justify-between w-full border-b-2">
            <h1>{{ task.title }}</h1>

            <div class="">
                <button mat-icon-button color="warn" matTooltip="Delete List" (click)="removeTask(task._id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
