<div class=" task justify-content-center mt-3 pb-1 pt-1 border border-dark rounded">
    <!-- <div class="task-name d-flex justify-content-around">
        <mat-form-field class="col-5"><input matInput placeholder="List Name" value={{lists.title}}></mat-form-field>
        <mat-form-field class="col-5">
            <input matInput [matDatepicker]="dp3" placeholder="Date" disabled>
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>
    </div>
    <button class="col-4 mb-2" mat-raised-button>Delete</button> -->

    <ul class="list-group">
        <li *ngFor="let list of lists" class="list-group-item">
            <div class="task-name">
                <mat-form-field class="col-5"><input matInput placeholder="List Name" [(ngModel)]="list.title"></mat-form-field>
                <mat-form-field class="col-5">
                    <input matInput [matDatepicker]="dp3" placeholder="Date" disabled [value]="list.date">
                    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
            <button class="col-4 mb-2" mat-raised-button [disabled]="list.isMain">Delete</button>
        </li>
    </ul>
</div>