<!-- new task -->
<div class=" task justify-content-center mt-3 pb-1 pt-1 ">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="task-name">
                <mat-form-field class="col-6"><input matInput placeholder="List Name" #listName required></mat-form-field>
                <mat-form-field class="col-6">
                    <input matInput [matDatepicker]="dp3" placeholder="Date" #listDate>
                    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
            <button class="col-4 mb-2" mat-raised-button (click)="createList(listName, listDate)">Create</button>
        </li>
    </ul>
</div>
<!-- tasks -->
<div class=" task justify-content-center mt-3 pb-1 pt-1 ">
    <ul class="list-group">
        <li *ngFor="let list of lists" class="list-group-item">
            <div class="task-name">
                <mat-form-field class="col-6"><input matInput placeholder="List Name" [(ngModel)]="list.title" [disabled]="list.isMain"></mat-form-field>
                <mat-form-field class="col-6">
                    <input matInput [matDatepicker]="dp3" placeholder="Date" disabled [(ngModel)]="list.date">
                    <!-- previous:  [value]="list.date" -->
                    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="task-status container justify-content-center d-flex text-center pt-2 pb-2">
                <div class="left-side-task-status col-4">
                    <button mat-raised-button routerLink="/"> Tasks</button>
                </div>
                <div class="middle-side-task-status col-4">
                    <button mat-raised-button [disabled]="list.isMain">Update</button>
                </div>
                <div class="right-side-task-status col-4">
                    <button class="col-4 mb-2" mat-raised-button color="warn" [disabled]="list.isMain" (click)="deleteList(list)">Delete</button>
                </div>
            </div>
        </li>
    </ul>
</div>