.list-group-item {
    margin-bottom: 40px;
    border-top-width: 1px;
    padding: 0;
}

@media only screen and (max-width: 400px) {
    .media-date {
        display: none;
        padding: 0;
    }
}