<div class="container task justify-content-center mt-3 pt-3 bgcolor">
    <ul class="list-group ">
        <li *ngFor="let task of mainListTasks" class="list-group-item">
            <div class="task-name d-flex justify-content-around pt-3 px-2">
                <!-- task name -->
                <mat-form-field class="col-7"><input matInput placeholder="Task" [(ngModel)]="task.title"></mat-form-field>
                <!-- list name -->
                <!-- <mat-form-field class="col-4"><input matInput placeholder="List" [(ngModel)]="task.list"></mat-form-field> -->
                <!-- datePicker -->
                <mat-form-field class="col-2">
                    <input matInput [matDatepicker]="dp3" placeholder="Date" disabled [value]="task.date ">
                    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                    <mat-datepicker #dp3 disabled="false" class="media-date"></mat-datepicker>
                </mat-form-field>
                <button class="my-auto done-btn" mat-mini-fab><i class="fas fa-check"></i></button>
            </div>
            <!-- description -->
            <div class="task-desc col-12 ">
                <mat-form-field class="col-12 ">
                    <textarea matInput placeholder="Task Description" class="descHeight" [(ngModel)]="task.description"></textarea>
                </mat-form-field>
            </div>
            <div class="task-status container justify-content-between d-flex text-center pt-2 pb-2">
                <button class="task-btn" mat-raised-button>Update</button>
                <button class="task-btn" mat-raised-button>Move</button>
                <button class="task-btn" mat-raised-button color="warn" (click)="deleteTask(task)">Delete</button>
            </div>
        </li>
    </ul>
</div>